@import '../App.scss';

.user-view {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1em;
    width: 30em;
    background-color: $green--800;
    border-radius: 2em;
    input,
    button {
      text-align: center;
      padding: 0.3em;
      border-radius: 0.5em;
      border: none;
      width: 15em;
      margin-top: 0.5em;
    }
  }
}
@media all and (max-width: 768px) {
  .user-view {
    padding: 3em;
  }
}
